.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

.header input {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    width: 180px; /* Вужчий інпут */
    box-sizing: border-box;
}

.header button {
    margin: 0 5px; /* Зазори між кнопками */
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; /* Однаковий розмір кнопок */
}

.header button:hover {
    background-color: #0056b3;
}

.header button:active {
    background-color: #004085;
}


button:active {
    background-color: #004085;
}
