.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

.burgerButton {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.burgerMenu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.burgerMenu button {
    background: none;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: block;
}

.burgerMenu button:hover {
    background-color: #444;
}
