.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #3c3c3c; /* Сірий колір фону */
    padding: 20px;
    width: 200px; /* Ширина сайдбару */
    height: calc(100vh - 60px); /* Висота Header */
    position: fixed;
    left: 0;
    top: 60px; /* Висота Header */
    overflow-y: auto;
    color: white; /* Колір тексту */
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 50px;
    box-sizing: border-box;
    color: black; /* Колір тексту в інпуті */
    text-align: center;
}

.button {
    margin: 10px 0;
    padding: 10px 15px; /* Вужчі кнопки */
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Однаковий розмір кнопок */
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #004085;
}

.nodeControl {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.controlButton {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controlButton:hover {
    background-color: #0056b3;
}

.controlButton:active {
    background-color: #004085;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: white;
}

.checkbox {
    margin-right: 10px;
}















