.App {
  display: flex;
  flex-direction: row; /* Напрямок рядок для Sidebar і Graph */
  width: 100%;
  height: 100vh;
}

.graphContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px; /* Висота Header */
  margin-left: 15vw; /* Ширина Sidebar */
  position: relative;
  overflow: hidden;
}

























